/*Global*/

* {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
body{
  background-color: #e6e6e6;
}
/*nav*/
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.imagenesnav img {
    width: 30px;
    height: 30px;
}

.logo {
    width: 40px;
    height: 40px;
}
.textologo{
      font-family: 'Alata', sans-serif;
}
.categoriastexto{
  list-style-type: none;
  text-decoration: none;
  color: rgba(0,0,0,.5);
}


.navbar-collapse{
  font-family: 'Didact Gothic', sans-serif;
}

.buscador {
    margin-right: 20px;
}

.modal-content {
    font-family: 'Manjari', sans-serif;
    font-weight: bold;
    background-color: white;
}

.botonuser {
    padding: 0;
    margin-bottom: 5px;
    margin-left: 5px
}

.iconouser {
    color: white;
    font-size: 30px
}

.carrito {
    color: white;
    font-size: 25px;
    text-align: center;
}

/*Categorias*/
.categorias {
    margin-left: 50px;
    margin-right: 50px;
}

.categories {
    color: #F21d20;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-top: 30px;

}

.linkscategorias a {
    width: 45%;
    margin-bottom: 2%;
}

.categoriasimg {
    border-radius: 50%;
    width: 100%;
}

/* FOOTER */
footer {
    margin-top: 50px;
    background-color: #ccc;
    padding-top: 20px
}

.redesociales {
    margin-right: 20px;
}

.iconos {
    display: inline-flex;
}

.fa-instagram {
    margin: 4px;
    font-size: 30px;
    color: #DC3545;

}

.fa-facebook-square {
    margin: 4px;
    font-size: 30px;
    color: #DC3545;
}

.fa-twitter-square {
    margin: 4px;
    font-size: 30px;
    color: #DC3545;
}

.form-inline {
    margin-left: 8px;
}

.marcaregistrada {
    color: grey;
    font-size: 11px;
}

.footer {
    padding-top: 7px
}

.listafooter {
    text-decoration: none;
    color: inherit;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer ul li {
    list-style-type: none;
    display: inline;
}

.footer li:not(:first-child):before {
    content: " | ";
    margin-left: 5px;
}
.dropcategorias{
  margin-top: 8px;
}
.articulos{
  margin-top: 17px;
  margin-left: 8%;
  font-family: 'Roboto', sans-serif;
  box-shadow: 2px 2px 5px #666;
}
.productosolo {
  font-family: 'Hind', sans-serif;
}
.botoncantidad{
  margin-right: 70px;
}
.productoentero{
width: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 10px #666;
}
.ubicacion{
  margin-left: 10px;
}
.fa-location-arrow{
  margin-top: 7px;
    margin-left: 15px;
}
.fa-truck{
    margin-top: 7px;
    margin-left: 15px;
}
.precioproducto{
  margin-bottom: 15px;
}

.respuestos {
  margin-left: 12px;
}
.dropcategorias{
  /* background-color: #DC3545; */
  font-family: 'Didact Gothic', sans-serif;
}
.titulocategoria{
  color: #DC3545;
  text-align: center;
 margin-left: 8%;
  margin-right: 7%;
  margin-top: 3%;
  margin-bottom: 2%;
  padding: 1%;
font-family: 'Nunito', sans-serif;
background-color: white;
  box-shadow: 2px 2px 10px #666;
}
.tituloproductos{
  color: black;
    font-weight: bold;
}
.preciocard{
  color: black;
  font-size: 27px;;
}
.imgProducto{
margin: 20px;
  width: 100%;
}
.imagencarrito{
  width: 5%;
  margin-left: 40px;
}
.responsiveproducto{
margin-top: 30px;
}
.margenesproducto{
  margin-top: 20px;
}
.card-body{
  background-color: #fff;
  padding-bottom: 170px;
}
.contactoentero{
  background-color: #e6e6e6;
}
.carritoentero{
  margin: 2%;
  background-color: #fff;
    box-shadow: 2px 2px 10px #666;
}
.botoneliminar{
  margin-right: 40px;;
  margin-top: 12px;
}
.botoncomprar{
  font-size: 18px;
  display: flex;
margin-left: 80%;
}
.botonvolver a{
  text-decoration: none;
  color: #fff;
}
.botonvolvercarrito {
margin-left: 90%;
}
.botonvolvercarrito a{
  text-decoration: none;
  color: #fff;
}
.sumadeltotal{
  text-align: center;
}
.listacarrito{
  display: flex;
justify-content: space-around;
margin-top: 15px;
padding-top: 10px;

}
.botoncarrito{
  margin-top: 15px;
}
.productoscarrito
{
  display: flex;
justify-content: space-between;
padding: 10px;
}
.cajacarrito{
    background-color: #fff;
    padding-bottom: 15px;
}
.totalcarrito{
display: flex;
justify-content: center;
padding: 10px;
}
.preciocarrito{
  margin-left:210px;
}
.ordendecompra{
  width: 40%;
  height:50%;
  background-color: #fff;
  padding: 2%;
  font-family: 'Nunito', sans-serif;
    box-shadow: 2px 2px 10px #666;
}
.ordencontenedor{
  display: flex;
  justify-content: center;
  margin: 2%;
}
.lideorden{
  font-size: 20px;

}

@media (min-width: 768px) {
  .botoncantidad{
    margin-bottom: 10px;
  }
  .linkscategorias a {
        width: 28%;
    }
}

/*Productos */

section .producto {
    margin-left: 150px;
    margin-right: 20px;
    margin-top: 50px;
}

div .carouselProducto {
    margin-left: 100px;
    margin-top: 50px;
}
.imgProducto {

}
